body {
    color: white;
    font-family: "Montserrat", sans-serif;
}

p{
    font-size: 20px;
}

.img-Marik{
    height: 0;
    opacity: 0;
    border: 3px solid #D2B48C;
    padding: 3px;
    background-color: peru;
    transition: 2s;
}

#tab1:checked ~ .img-Marik{
    height: auto;
    float: right;
    opacity: 1;
}

.con-bonya{
    margin-top: 100px;
}

.img-bonya{
    border: 3px solid #D2B48C;
    padding: 3px;
    background-color: peru;
    transition: 2s;
    height: 0;
    opacity: 0;
}

#tab2:checked ~ .img-bonya{
    height: auto;
    float: right;
    opacity: 1;
}

.con-margosha{
    margin-top: 110px;
}

.img-margosha{
    opacity: 0;
    height: 0;
    transition: 2s;
    border: 3px solid #D2B48C;
    padding: 3px;
    background-color: peru;
}

#tab3:checked ~ .img-margosha{
    height: auto;
    opacity: 1;
    float: right;
}

a{
    color: yellow;
    font-size: 16px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.footer{
    margin-top: 150px;
}
